.soundboard {
    width: 80vw;
    margin: auto;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    background-color: beige;
}

.clickme {
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    background-color: #61dafb;
}
