.soundboardButton {
    width: 200px;
    height: 150px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
}

.soundboardButtonAnimDiv {
    background: linear-gradient(0deg, darkseagreen, pink);
    animation: gradient 15s ease infinite;
}

.idle {
    background-color: pink;
}

.playing {
    background: linear-gradient(pink 0 0) bottom/100% 90% no-repeat #ececec;
    animation: right 3s linear;
}

.audioNameSpan {
    font-size: 1.3rem;
    font-weight: bold;
}


@keyframes right {
    from {
        background-size: 100% 0%;
    }
}

